# Copyright (c) 2020, The Linux Foundation. All rights reserved.

# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.

# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

service vendor.usb-hal-1-3 /vendor/bin/hw/android.hardware.usb@1.3-service-qti
    interface android.hardware.usb@1.0::IUsb default
    interface android.hardware.usb@1.1::IUsb default
    interface android.hardware.usb@1.2::IUsb default
    interface android.hardware.usb@1.3::IUsb default
    class hal
    user root
    group root system mtp

on early-init
    # Needed to allow toggling USB without being root.
    chown root system /sys/devices/platform/soc/${vendor.usb.device:-a600000.ssusb}/usb_data_enabled
    chown root system /sys/devices/platform/soc/${vendor.usb.device:-a600000.ssusb}/mode
    chmod 664 /sys/devices/platform/soc/${vendor.usb.device:-a600000.ssusb}/usb_data_enabled
    chmod 664 /sys/devices/platform/soc/${vendor.usb.device:-a600000.ssusb}/mode
    # Disable USB data initially, even with existing connected device.
    write /sys/devices/platform/soc/${vendor.usb.device:-a600000.ssusb}/usb_data_enabled 0

service enable_usb_data /system/bin/bootstrap/linkerconfig --help
    # This could be a normal service, but for flexibility, as above, it is structured to run
    # on restart, in the event that a script is not needed in the future or for certain devices.
    onrestart exec_background - nobody system -- /vendor/bin/init.enable_usb_data.sh /sys/devices/platform/soc/${vendor.usb.device:-a600000.ssusb}/usb_data_enabled 1 /sys/class/typec/port0-partner /sys/class/typec/port0/data_role [host] /sys/devices/platform/soc/${vendor.usb.device:-a600000.ssusb}/mode host peripheral
    # User and group below are for the service command itself, not the line above.
    user nobody
    group nobody
    oneshot
